body{
    margin: 0;
    padding: 0;
  
  }
  
  header{
    padding: 0;
    box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
  }
  
  .header_container {
    display: flex;
    align-items: center;
    background-color: white;
    color: white;
    padding: 20px;
  }
  
  .header_logo{
    width: 180px;
    margin-left: 2rem;
    display:block;
    margin-right: 10px;
  }
  
  /*Navigation Bar*/
  
  .nav_btns {
    display: flex;
    align-items: center;
    width: 65%;
    list-style-type: none;
    }
  
  .button-list {
    list-style-type: none;
    align-items: center;
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: Poppins;
    font-size: 20px;
    white-space: nowrap;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  li {
    display: inline-block;
  }
  
  li a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
    text-align: center;
    font-size: 23px;
  }
  
  
  li a:hover{
    color:green;
  }
  
  ul li ul.product_dropDown li {
    display: block;
    float: none; /* Remove float to prevent horizontal placement */
  }
  
  ul li ul.academy_dropDown li {
    display: block;
    float: none; 
  }
  
  ul li ul.product_dropDown,
  ul li ul.academy_dropDown {
    position: absolute;
    display: none;
    z-index: 999;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-left: 1px solid #000;/* To remove the left border */
    border-right: 1px solid #000; /* To remove the right border */
    border-bottom: 1px solid #000; /* To remove the bottom border */
  }
  
  li:hover .product_dropDown,
  li:hover .academy_dropDown{
    display: block;
  }
  
  .product_dropDown li a:hover , 
  .academy_dropDown li a:hover{
    display: block;
    background-color: lightgrey;
  }
  
  
  
  .profile{
    height: 50px;
  }
  
  
  
  .login_button {
    align-items: center;
    appearance: none;
    background-color: #fff;
    border-radius: 24px;
    border-style: none;
    box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
    box-sizing: border-box;
    color: #3c4043;
    cursor: pointer;
    display: inline-flex;
    fill: currentcolor;
    font-family: "Google Sans",Roboto,Arial,sans-serif;
    font-size: 14px;
    font-weight: 500;
    height: 48px;
    justify-content: center;
    letter-spacing: .25px;
    line-height: normal;
    max-width: 100%;
    overflow: visible;
    padding: 2px 24px;
    position: relative;
    text-align: center;
    text-transform: none;
    transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1),opacity 15ms linear 30ms,transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: auto;
    will-change: transform,opacity;
    z-index: 0;
    margin-left: 200px;
  }
  
  .login_button:hover {
    background: #F6F9FE;
    color: #174ea6;
  }
  
  .login_button:active {
    box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
    outline: none;
  }
  
  .login_button:focus {
    outline: none;
    border: 2px solid #4285f4;
  }
  
  .login_button:not(:disabled) {
    box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
  }
  
  .login_button:not(:disabled):hover {
    box-shadow: rgba(60, 64, 67, .3) 0 2px 3px 0, rgba(60, 64, 67, .15) 0 6px 10px 4px;
  }
  
  .login_button:not(:disabled):focus {
    box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
  }
  
  .login_button:not(:disabled):active {
    box-shadow: rgba(60, 64, 67, .3) 0 4px 4px 0, rgba(60, 64, 67, .15) 0 8px 12px 6px;
  }
  
  .login_button:disabled {
    box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
  }
  
  .cart_container {
    display: flex; 
    height: 100px;
    margin-left: 50px;
    align-items: center; 
    margin-left: 30px;
  }
  
  
  .cart{
    height: 60px;
  }
  